-r src/requirements.txt
-r scripts/requirements.txt
black
ruff
pre-commit
pytest
pytest-asyncio
pytest-snapshot
pytest-cov
pip-tools
wheel>=0.46.2 # not directly required, pinned by Snyk to avoid a vulnerability
